<!-- As a link -->
<div class="container">
    <nav class="navbar navbar-dark secondary-color lighten-1">
        <h2 class="h1-responsive font-weight-bold text-center"> CHALLENGE YOURSELF WITH PROJECTS DURING THIS PANDEMIC AND WIN SOME PRIZES.</h2>
    </nav>
</div>


