<!DOCTYPE html>
<html>

<% include partials/head %>

<body>

  <!-- header -->
  <% include partials/header %>
  <!-- header -->

  <!-- main -->
  <!--Main Layout-->
  <main>
    <!--Section: about-->
    <section id="about" class="py-5">

      <!-- calendate Container -->
      <!-- <div class="container"> -->
      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center ">Project 2: CalenDate App.</h2>
      <!-- Section description -->
      <p class="lead grey-text text-center w-responsive mx-auto mb-5">A simple reminder app that saves reminders and
        notified you when time is up.</p>
      <!--Grid row-->
      <div class="row border-bottom mb-5">

        <!--Grid column-->
        <div class="col-md-7 mb-4">

          <div class="view overlay z-depth-1-half">
            <img src="../images/calendate.png" class="card-img-top" alt="">
            <div class="mask rgba-white-light"></div>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-5 mb-4">
          <h2>User Journey <a href="https://appetize.io/app/p2h3c1trbwcprcznxpf6gf098m" class="btn btn-purple">Play with
              Demo!</a> </h2>
          <ol style="list-style-type:upper-roman">
            <li>Users can add TODO's to their local Room DB.</li>
            <li>Users can see a list of the TODO's.</li>
            <li>Users can delete a TODO.</li>
            <li>Users can set a reminder for when the time has reached.</li>
          </ol>
          <p class="font-weight-bold">Night mode also called GREEN - PANDA and
            Day mode also called GREY - PLACE, are what I chose to name the two color schemes, you can name your own
            themes.</p>
          <p class="font-italic">You should use the recommended MVVM architechure but are free to choose whatever works
            for you. Just let your imagination run wild and practice. </p>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      </div>
      <!--calendate Container -->

      <!-- Container -->
      <div class="container">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center ">Project 1: Weather App.</h2>
        <!-- Section description -->
        <p class="lead grey-text text-center w-responsive mx-auto mb-5">A simple weather app that displays current
          weather and future forecast.</p>
        <h3 class="h1-responsive font-weight-bold text-center mb-5">Base Url : <a
            href="https://weatherstack.com/">Here</a></h3>
        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-5 text-center text-lg-left mb-5">
            <img class="img-fluid" src="../images/weather.png" alt="Sample image">
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-7">

            <!-- Grid row -->
            <div class="row mb-3">

              <!-- Grid column -->
              <div class="col-1">
                <i class="fa fa-mail-forward fa-lg purple-text"></i>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-xl-10 col-md-11 col-10">
                <h5 class="font-weight-bold mb-3">General instructions: </h5>
                <p class="grey-text">For more instructions, refer to the image.</br> Although:
                  Your allowed to choose any other weather api service, and canditaes that add the map and statistics
                  feature will be gain more points. </p>
              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row mb-3">

              <!-- Grid column -->
              <div class="col-1">
                <i class="fa fa-mail-forward fa-lg purple-text"></i>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-xl-10 col-md-11 col-10">
                <h5 class="font-weight-bold mb-3">Project resources:</h5>
                <p class="grey-text">Download project resources from here.</p>
                <a class="btn btn-purple btn-sm" href="/zip"><i class="fa fa-download left"></i> DOWNLOAD </a>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <!--Grid row-->
            <div class="row">

              <!-- Grid column -->
              <div class="col-1">
                <i class="fa fa-mail-forward fa-lg purple-text"></i>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->

              <div class="accordion" id="accordionExample275">
                <h5 class="font-weight-bold mb-3">Submission Instructions: </h5>
                <div class="col-xl-10 col-md-11 col-10">
                  <div class="card-header" id="headingOne2">
                    <h5 class="mb-0">
                      <button class="btn btn-outline-secondary waves-effect" type="button" data-toggle="collapse"
                        data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                        Click to Expand and view Instructions.
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOne2" class="collapse" aria-labelledby="headingOne2"
                    data-parent="#accordionExample275">
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <div class="md-v-line">1: Your README.md file should follow these guidelines <a
                              href=" https://github.com/tamzi/ReadMe-MasterTemplates/tree/master/android/sample">HERE</a>.
                            </button>
                        </li>
                        <li class="list-group-item">
                          <div class="md-v-line">2: Use this to let us test your app. <a
                              href="https://appetize.io/">Appetize.io</a>
                        </li>
                        <li class="list-group-item">
                          <div class="md-v-line">3: Your README.MD FILE SHOULD HAVE SCREENSHOTS OF THE APP.
                        </li>
                        <li class="list-group-item">
                          <div class="md-v-line">4: Submit the github link to the app.
                        </li>
                        <li class="list-group-item">
                          <!-- Default form login -->
                          <form class="text-center " action="/postLink" method="POST">

                            <p class="h4 mb-4">Submit Link</p>

                            <!-- username -->
                            <input name="username" type="text" id="defaultRegisterFormFirstName"
                              class="form-control mb-4" placeholder="username">
                            <!-- E-mail -->
                            <input name="email" type="email" id="defaultRegisterFormEmail" class="form-control mb-4"
                              placeholder="E-mail">
                            <!-- Link -->
                            <input name="url" type="url" required id="defaultLoginFormEmail" class="form-control mb-4"
                              placeholder="Paste Link">
                            <!-- project -->
                            <input name="project" value="weather app" hidden>

                            <!-- Sign in button -->
                            <button class="btn btn-purple btn-block my-4">Submit</button>

                          </form>
                          <!-- Default form login -->
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Grid column -->

            </div>
            <!--Grid row-->

          </div>
          <!--Grid column-->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Container -->

    </section>
    <!--Section: about-->
  </main>
  <!--Main Layout-->
  <!-- main -->

  <!-- footer -->
  <% include partials/footer %>
  <!-- footer -->


  <!-- SCRIPTS -->
  <script type="text/javascript" src="../javascripts/script.js"></script>
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
  </script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.0/js/mdb.min.js"></script>
  <!-- javascript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>

</body>

</html>