<!DOCTYPE html>
<html>

<% include partials/head %>

<body>

  <!-- header -->
  <% include partials/header %>
  <!-- header -->

  <!-- main -->
  <!--Main Layout-->
  <main>
  <!--Section: about-->
        <section id="about" class="py-5">

            <!-- Container -->
            <div class="container">
                <!-- Section heading -->
                <h2 class="h1-responsive font-weight-bold text-center mb-5">Project 1: Weather App.</h2>
                <!-- Section description -->
                <p class="lead grey-text text-center w-responsive mx-auto mb-5">A simple weather app that displays current weather and future forecast.</p>
                <h3 class="h1-responsive font-weight-bold text-center mb-5">Base Url : <a href="https://weatherstack.com/">Here</a></h3>
                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-5 text-center text-lg-left mb-5">
                        <img class="img-fluid" src="../images/projectone.png" alt="Sample image">
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-7">

                        <!-- Grid row -->
                        <div class="row mb-3">

                            <!-- Grid column -->
                            <div class="col-1">
                                <i class="fa fa-mail-forward fa-lg purple-text"></i>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-xl-10 col-md-11 col-10">
                                <h5 class="font-weight-bold mb-3">General instructions: </h5>
                                <p class="grey-text">For more instructions, refer to the image on the left.</br> Although: 
                                Your allowed to choose any other weather api service, and canditaes that add the map and statistics feature will be gain more points. </p>
                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="row mb-3">

                            <!-- Grid column -->
                            <div class="col-1">
                                <i class="fa fa-mail-forward fa-lg purple-text"></i>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-xl-10 col-md-11 col-10">
                                <h5 class="font-weight-bold mb-3">Project resources:</h5>
                                <p class="grey-text">Download project resources from here.</p>
                                <a class="btn btn-purple btn-sm" href="/zip"><i class="fa fa-download left"></i> DOWNLOAD </a>

                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                        <!--Grid row-->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-1">
                                <i class="fa fa-mail-forward fa-lg purple-text"></i>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                               
                                <div class="accordion" id="accordionExample275">
                                     <h5 class="font-weight-bold mb-3">Submission Instructions: </h5>
                                    <div class="col-xl-10 col-md-11 col-10">
                                      <div class="card-header" id="headingOne2">
                                        <h5 class="mb-0">
                                          <button class="btn btn-outline-secondary waves-effect" type="button" data-toggle="collapse" data-target="#collapseOne2"
                                            aria-expanded="true" aria-controls="collapseOne2">
                                           Click to Expand and view Instructions.
                                          </button>
                                        </h5>
                                      </div>
                                      <div id="collapseOne2" class="collapse" aria-labelledby="headingOne2"
                                        data-parent="#accordionExample275">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                  <div class="md-v-line">1: Your README.md file should follow these guidelines <a href=" https://github.com/tamzi/ReadMe-MasterTemplates/tree/master/android/sample">HERE</a>. 
                                                  </button>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="md-v-line">2: Use this to let us test your app. <a href="https://appetize.io/">Appetize.io</a> 
                                                  </li>
                                                  <li class="list-group-item">
                                                    <div class="md-v-line">3: Your README.MD FILE SHOULD HAVE IMAGES.
                                                  </li>
                                                  <li class="list-group-item">
                                                    <div class="md-v-line">4: Submit the link to your README.md file below.
                                                  </li>
                                                  <li class="list-group-item">
                                                    <!-- Default form login -->
<form class="text-center " action="/postLink" method="POST">

    <p class="h4 mb-4">Submit Link</p>

    <!-- Link -->
    <input name="url" type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Paste Link">

    <!-- Sign in button -->
    <button class="btn btn-purple btn-block my-4" type="submit">Submit</button>

</form>
<!-- Default form login -->
                                                  </li>
                                              </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            <!-- Grid column -->

                        </div>
                        <!--Grid row-->

                    </div>
                    <!--Grid column-->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Container -->

        </section>
        <!--Section: about-->
  </main>
  <!--Main Layout-->
  <!-- main -->

  <!-- footer -->
  <% include partials/footer %>
  <!-- footer -->


  <!-- SCRIPTS -->
<script type="text/javascript" src="../javascripts/script.js"></script>
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
  </script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.0/js/mdb.min.js"></script>
  <!-- javascript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>

</body>

</html>